.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links-container {
    display: flex;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    
}

.links {
    margin: 11px;
    
}